@{
    Layout = "~/Views/Shared/_Layout_LCD.cshtml"; ;
}
@using System.Configuration;
<style>
    .progress-bar {
        color: red !important
    }
</style>

<div style="background:black; color:#ccc">
    <div class="col-md-1" style="height:109px; display:grid">
        <img src="~/Content/logo.png" style="height:inherit; padding:inherit; " />
    </div>
    <div class="col-md-12">
        <div class="col-md-12 center bold " style="font-size:45px;text-transform:uppercase">BẢNG theo dõi tiến độ sửa chữa</div>
        @*<div class="col-md-3 font_30 no_Padding_Margin center">TỔNG XE <span class="center bold font-dt" id="totalcar">0</span></div>
            <div class="col-md-3 font_30 no_Padding_Margin center">ĐÃ XỬ LÝ <span class="center bold font-dt" id="done">0</span></div>
            <div class="col-md-3 font_30 no_Padding_Margin center">ĐANG CHỜ <span class="center bold font-dt" id="waiting">0</span></div>
            <div class="col-md-3 font_30 no_Padding_Margin center">ĐANG XỬ LÝ <span class="center bold font-dt" id="procesing">0</span></div>*@
        <div class="col-md-12  center" style="padding-top:10px;font-size:36px;text-transform:uppercase; font-weight:bold">
            Ngày <span id="date" class="font-dt"></span>
            - <span id="time" class="font-dt"></span>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    @*<div class="col-md-2 font-dt center" style="padding-top:10px">
            <div id="date"></div>
            <div id="time"></div>
        </div>*@
    <div class="clearfix"></div>
</div>
<div style="text-transform:uppercase">
    <div class="col-md-2  title">BÀN</div>
    <div class="col-md-2  title">SỐ PHIẾU</div>
    <div class="col-md-2  title">GIỜ Giao DK</div>
    <div class="col-md-2  title">trạng thái</div>
    <div class="col-md-2  title">tiến độ TH</div>
    <div class="col-md-2  title">TG còn lại</div>
    <div class="clearfix"></div>
</div>
<ul id="ticker" class="col-md-12">
    <li class="col-md-12 rowcontent">Không có dữ liệu</li>
</ul>
<div id="table2" config="@ConfigurationManager.AppSettings["ChangePage"].ToString()" rows="@ConfigurationManager.AppSettings["TickerRows"].ToString()" size-dt="@ConfigurationManager.AppSettings["size-dt"].ToString()" size-text="@ConfigurationManager.AppSettings["size-text"].ToString()">
    <div id="vtemslideshow1" class="vtem_main_slideshow"> </div>
</div>

<style>
    #ticker {
        padding: 0 !important;
        height: 850px;
        display: none;
        margin-top: -21px;
    }

        #ticker ul,
        #ticker ul li {
            list-style: none;
            padding: 0 !important;
        }

    #table2 {
        margin: 0;
        padding: 0;
        width: 99.5%;
        display: none;
        height: 600px;
    }

        #table2 li {
            margin: 0;
            padding: 0;
            list-style: none;
        }

    .rowcontent {
        height: 95px;
        line-height: 95px;
        padding: 0 !important;
    }

    #table2 .progress {
        height: 50px;
        position: absolute;
        top: 10%;
        width: 100%
    }

        #table2 .progress .progress-bar {
            font-size: 50px;
            letter-spacing: 0;
            line-height: 50px
        }

    .progress-bar-striped {
        background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
        background-size: 1rem 1rem;
    }

    .progress-bar-animated {
        -webkit-animation: progress-bar-stripes 1s linear infinite;
        animation: progress-bar-stripes 1s linear infinite;
    }

    .bg-danger {
        background-color: #dc3545 !important;
    }

    .bg-warning {
        background-color: #ffc107 !important;
    }

    .bg-info {
        background-color: #17a2b8 !important;
    }

    .bg-success {
        background-color: #28a745 !important;
    }
</style>
<script>
    function RunTicker() {
        if ($('#table2').attr('config') == 'ticker') {
            $('#ticker').totemticker({
                row_height: $('#ticker ul li').css('height'),
                mousestop: false,
                speed: 30000,
                interval: 1000,
                max_items: parseInt($('#table2').attr('rows')),
                row_move: 1,
                type: 'ul'
            });
        }
        else {
            $('#vtemslideshow1').cycle({
                fx: 'blindX,blindY,blindZ,fadeZoom,toss',
                timeout: 30000,
                speed: 1000,
                next: '#cycle_next',
                prev: '#cycle_prev',
                pager: '#vtemnav',
                pagerEvent: 'click',
                startingSlide: 0,
                fit: true,
                height: 850,
            });
        }
    }

</script>
<script src="~/Scripts/QMS/HienThiQuay/vinh-cat-lcd.js"></script>